<div class="card h-100">
    <div class="row no-gutters h-100">
        <div class="col-4">
            <div class="icon align-middle h-100 pl-0">
                <fa-icon [fixedWidth]="true" [icon]="faCalendarCheck" size="10x" class="h-100"></fa-icon>
            </div>
        </div>
        <div class="col-8">
            <div class="card-body text-right">
                <h5 class="card-title">{{'dashboard.last-reading.title' | translate}}</h5>
                <h2 class="card-text">{{'dashboard.last-reading.daysSince' | translate:{'days': daysSince} }}</h2>
                <p></p>
                <h5 class="card-text">{{'dashboard.last-reading.date' | translate}}: {{lastReadingDate | date}}</h5>
                <a href="#" class="btn btn-primary active" [routerLink]="['/record']" role="button"
                   aria-pressed="true">{{'dashboard.last-reading.record' | translate}}</a>
            </div>
        </div>
    </div>
</div>
