<div class="row">
    <div class="mb-1 col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{'adminComponent.export.cardTitle' | translate}}</h5>
                <p class="card-text">{{'adminComponent.export.cardText' | translate}}</p>
                <a href="/api/admin/export" class="btn btn-primary">{{'adminComponent.export' | translate}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmitImport()">
                    <h5 class="card-title">{{'adminComponent.import.cardTitle' | translate}}</h5>
                    <p class="card-text">{{'adminComponent.import.cardText' | translate}}</p>
                    <div class="btn-group" btnRadioGroup name="importType" [(ngModel)]="radioModel">
                        <label class="btn btn-light" btnRadio="Full"
                               tabindex="0" role="button">Full</label>
                        <label class="btn btn-light" btnRadio="Incremental"
                               tabindex="0" role="button">Incremental</label>
                    </div>
                    <div class="custom-file">
                        <input accept=".csv" name="file" type="file" class="custom-file-input"
                               (change)="handleFileInput($event.target.files)" id="customFile">
                        <label class="custom-file-label"
                               for="customFile">{{fileToUpload ? fileToUpload.name : 'adminComponent.import.chooseFile' | translate}}</label>
                    </div>
                    <p></p>
                    <button type="submit" [disabled]="!fileToUpload"
                            class="btn btn-primary">{{'adminComponent.import' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="navbar-brand">
        <p class="pl-4">Version: {{buildInfo}}</p>
    </div>
</nav>