<form *ngIf="recordFormGroup" [formGroup]="recordFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ 'readingDate' | translate }}</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" [ngModel]="date | date:'yyyy-MM-dd'" formControlName="readingDate">
        </div>
    </div>

    <div *ngFor="let meter of meters" class="form-group row">
        <label class="col-sm-2 col-form-label">{{meter.name}}</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="{{METER_PREFIX + meter.name}}"
                   placeholder="{{'valuePlaceholder' | translate}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="recordFormGroup.invalid || allMeterValuesEmpty()">{{'newRecordComponent.saveReadings' | translate}}</button>
        </div>
    </div>
</form>