<div class="card h-100">
    <div class="row no-gutters h-100">
        <div class="col-2">
            <div class="icon align-middle h-100 pl-0">
                <fa-icon [fixedWidth]="true" icon="chart-line" size="10x" class="h-100"></fa-icon>
            </div>
        </div>
        <div class="col-10">
            <div class="card-body text-right">
                <h5 class="card-title">2019-02 vs 2019-03</h5>
                <h5 class="card-text">Strom: +277 kwH <span class="badge badge-danger">+22%</span></h5>
                <h5 class="card-text">Gas: -32 m³ <span class="badge badge-success">-15%</span></h5>
                <h5 class="card-text">Wasser: 4711 kWh S</h5>
            </div>
        </div>
    </div>
</div>