<ion-app>

  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="chart">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Chart</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="meters">
        <ion-icon name="speedometer-outline"></ion-icon>
        <ion-label>Meters</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="readings">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Readings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="admin">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
